
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EjsPage</title>
</head>
<body>
  <h1> <%= title%></h1>
  <div> <%= name %></div>
  
  <h2>个人介绍</h2>
  <ul>
    <% data.forEach((item)=>{%>
      <p><%= item.name%></p>
      <p><%= item.age%></p>
    <% })%>
      
  </ul>
  
</body>
<style>
  body{
    width: 100%;
    height: 100%;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1{
    color:hotpink;
  }
  div{
    color: #fff;
  }
</style>
</html>